body{
    margin: 15%;
}

.swag{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: Helvetica;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}