body{
    margin: 5%;
}

.top{
    display: flex;
    font-family: Helvetica;
    justify-content: center;
    align-items: center;
}

.mid{
    display: flex;
    font-family: helvetica;
    justify-content: center;
    text-decoration: none;
}

.pict{
    display: flex;
    justify-content: center;
}